parameters:
	ignoreErrors:
		-
			message: '''
				#^Fetching class constant SYMFONY_50 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_51 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_52 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_53 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_54 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_60 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_61 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_62 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_63 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.1-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_64 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-10/drupal-10.2-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_40 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-9/drupal-9.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_41 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-9/drupal-9.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_42 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-9/drupal-9.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_43 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-9/drupal-9.0-deprecations.php

		-
			message: '''
				#^Fetching class constant SYMFONY_44 of deprecated class Rector\\Symfony\\Set\\SymfonySetList\:
				Set list are too generic and do not handle package differences\. Use \-\>withComposerBased\(symfony\: true\) instead$#
			'''
			identifier: classConstant.deprecatedClass
			count: 1
			path: config/drupal-9/drupal-9.0-deprecations.php

		-
			message: '''
				#^Call to method __construct\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '''
				#^Call to method getDrupalRoot\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '''
				#^Call to method getVendorDir\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '''
				#^Call to method locateRoot\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_contrib_extension_directory_roots\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_find_extension_directories\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_get_extension_namespaces\(\) has parameter \$dirs with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_get_extension_namespaces\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_populate_class_loader\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_populate_class_loader\(\) has parameter \$drupalRoot with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '#^Function drupal_phpunit_populate_class_loader\(\) has parameter \$vendorRoot with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '''
				#^Instantiation of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: new.deprecatedClass
			count: 1
			path: config/drupal-phpunit-bootstrap-file.php

		-
			message: '''
				#^Call to method __construct\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: rector.php

		-
			message: '''
				#^Call to method getDrupalRoot\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: rector.php

		-
			message: '''
				#^Call to method locateRoot\(\) of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: method.deprecatedClass
			count: 1
			path: rector.php

		-
			message: '''
				#^Instantiation of deprecated class DrupalFinder\\DrupalFinder\:
				in drupal\-finder\:1\.3\.0 and is removed from drupal\-finder\:2\.0\.0\.
				  Use \\DrupalFinder\\DrupalFinderComposerRuntime instead\.$#
			'''
			identifier: new.deprecatedClass
			count: 1
			path: rector.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\\Expr\:\:\$value\.$#'
			identifier: property.notFound
			count: 2
			path: src/Drupal8/Rector/Deprecation/DBRector.php

		-
			message: '#^Call to an undefined method PHPStan\\Type\\Type\:\:getValue\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Drupal8/Rector/Deprecation/DrupalSetMessageRector.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\\Expr\:\:\$expr\.$#'
			identifier: property.notFound
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityLoadRector.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\\Expr\:\:\$expr\.$#'
			identifier: property.notFound
			count: 2
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Access to an undefined property PhpParser\\Node\\Expr\:\:\$name\.$#'
			identifier: property.notFound
			count: 3
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Method DrupalRector\\Drupal8\\Rector\\Deprecation\\EntityManagerRector\:\:getServiceByMethodName\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$node$#'
			identifier: parameter.notFound
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Parameter \#1 \$assign of method DrupalRector\\Drupal8\\Rector\\Deprecation\\EntityManagerRector\:\:findInstanceByNameInAssign\(\) expects PhpParser\\Node\\Expr\\Assign, PhpParser\\Node\\Expr given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Parameter \#1 \$assign of method DrupalRector\\Drupal8\\Rector\\Deprecation\\EntityManagerRector\:\:replaceInstanceByNameInAssign\(\) expects PhpParser\\Node\\Expr\\Assign, PhpParser\\Node\\Expr given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Parameter \#1 \$expr of method DrupalRector\\Drupal8\\Rector\\Deprecation\\EntityManagerRector\:\:refactorExpression\(\) expects PhpParser\\Node\\Expr\\MethodCall\|PhpParser\\Node\\Expr\\StaticCall, PhpParser\\Node given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Parameter \#1 \$expr of method DrupalRector\\Drupal8\\Rector\\Deprecation\\EntityManagerRector\:\:refactorExpression\(\) expects PhpParser\\Node\\Expr\\MethodCall\|PhpParser\\Node\\Expr\\StaticCall, PhpParser\\Node\\Expr given\.$#'
			identifier: argument.type
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Property PhpParser\\Node\\Expr\\Assign\:\:\$expr \(PhpParser\\Node\\Expr\) does not accept PhpParser\\Node\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Drupal8/Rector/Deprecation/EntityManagerRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpPropertyReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal8/Rector/Deprecation/FunctionalTestDefaultThemePropertyRector.php

		-
			message: '#^Calling PHPStan\\Php\\PhpVersionFactory\:\:create\(\) is not covered by backward compatibility promise\. The method might change in a minor PHPStan version\.$#'
			identifier: phpstanApi.method
			count: 1
			path: src/Drupal8/Rector/Deprecation/FunctionalTestDefaultThemePropertyRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/AssertLegacyTraitRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/AssertNoFieldByNameRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/AssertNoUniqueTextRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/ConstructFieldXpathRector.php

		-
			message: '#^Call to an undefined method PHPStan\\Type\\Type\:\:getValue\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Drupal9/Rector/Deprecation/ExtensionPathRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/FromUriRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/GetAllOptionsRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/GetRawContentRector.php

		-
			message: '#^Although PHPStan\\Reflection\\Php\\PhpMethodReflection is covered by backward compatibility promise, this instanceof assumption might break because it''s not guaranteed to always stay the same\.$#'
			identifier: phpstanApi.instanceofAssumption
			count: 1
			path: src/Drupal9/Rector/Deprecation/PassRector.php

		-
			message: '#^Parameter \#3 \$args of method Rector\\PhpParser\\Node\\NodeFactory\:\:createStaticCall\(\) expects array\<PhpParser\\Node\>, array\<int, PhpParser\\Node\\Expr\\ArrowFunction\|PhpParser\\Node\\Expr\\ClassConstFetch\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Rector/AbstractDrupalCoreRector.php
