name: functional_test__rector_examples

# This test will run on every pull request, and on every commit on any branch
on: [push, pull_request]

jobs:
    run_functional_test:
        name: Run functional test
# START: SHARED SETUP
        runs-on: ubuntu-latest  
        steps:
            -   uses: actions/checkout@v2
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.3
                    coverage: none # disable xdebug, pcov
                    tools: composer:v2
                    extensions: dom, curl, libxml, mbstring, zip, pdo, mysql, pdo_mysql, bcmath, gd, exif, iconv
            # Uncomment to enable SSH access to Github Actions - https://github.com/marketplace/actions/debugging-with-tmate#getting-started
            # -   name: Debugging with tmate
            #     uses: mxschmitt/action-tmate@v2
# END: SHARED SETUP
# START: SHARED DRUPAL INSTALL SETUP
            -   name: Setup Drupal
                run: |
                    COMPOSER_MEMORY_LIMIT=-1 composer create-project drupal/recommended-project:~8 ~/drupal --no-interaction
                    cd ~/drupal
                    composer config minimum-stability dev
                    composer config prefer-stable true
                    composer config preferred-install dist
                    composer config repositories.drupal composer https://packages.drupal.org/8
                    COMPOSER_MEMORY_LIMIT=-1 composer require drupal/core-dev:~8 --with-all-dependencies
            # We add a local repository `repositories.0` which takes precendence over the packagist repository that is automatically added.
            -   name: Install Drupal Rector
                run: |
                    cd ~/drupal
                    composer config repositories.drupal-rector "{\"type\": \"path\", \"url\": \"$GITHUB_WORKSPACE\", \"options\": {\"symlink\": false}}"
                    composer require palantirnet/drupal-rector:@dev --no-progress
            -   name: Install Drupal Rector Config
                run: |
                    cd ~/drupal
                    cp vendor/palantirnet/drupal-rector/rector.php .
# END: SHARED DRUPAL INSTALL SETUP
            -   name: Install PHPUnit in the Drupal site since it is required for some of the rules
                run: |
                    cd ~/drupal
                    composer require phpunit/phpunit:~7.5 --no-progress
            -   name: Prepare rector_examples folder in the drupal modules directory
                run: |
                    cd ~/drupal
                    mkdir -p web/modules/custom
                    cp -R vendor/palantirnet/drupal-rector/rector_examples web/modules/custom
            -   name: Install local dependencies, including Behat.
                run: composer install
            -   name: Run Behat tests
                run: vendor/bin/behat
