name: phpstan

# This test will run on every pull request, and on every commit on any branch
on: [push, pull_request]

jobs:
    run_static_analysis_phpstan_analyze:
        name: Static analysis with PHPStan
        # START: SHARED SETUP
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v3
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none # disable xdebug, pcov
                    tools: composer:v2
                    extensions: dom, curl, libxml, mbstring, zip, pdo, mysql, pdo_mysql, bcmath, gd, exif, iconv
            # Uncomment to enable SSH access to Github Actions - https://github.com/marketplace/actions/debugging-with-tmate#getting-started
            # -   name: Debugging with tmate
            #     uses: mxschmitt/action-tmate@v2
            # END: SHARED SETUP

            # We cannot have rector/rector in require and rector/rector-src in require-dev, they conflict.
            - run: composer remove rector/rector --no-update
            - run: composer install
            - run: php vendor/bin/phpstan
